@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head dir="rtl">

    <partial name="_MetaTags" />
    <partial name="_Links" />

    <title>@ViewBag.Title | AppliancesShop</title>

    <script src="~/AdminTheme/assets/js/modernizr.min.js"></script>

</head>

<body class="fixed-left">

    <div id="wrapper">

        <partial name="_Wrapper" />
        
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class=" container">

                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

            </div> <!-- content -->

            <footer class="footer text-right">
                2015 © Moltran.
            </footer>

        </div>
    </div>

    <partial name="_Scripts" />
    @RenderSection("Scripts",false);

</body>
</html>