@using Base_Framework.Infrastructure.DataAccess
@inject Base_Framework.Domain.Core.Contracts.IAuthHelper AuthHelper;
@{
    var currentAccout = AuthHelper.CurrentAccountInfo();
}
<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="index.html" class="logo"><i class="md md-terrain"></i> <span>APPLIANCES SHOP </span></a>
        </div>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button class="button-menu-mobile open-left">
                        <i class="fa fa-bars"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>


                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown hidden-xs">
                        <a asp-page="./Index" asp-area="" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                            <i class="md md-location-city"></i>
                            خانه
                        </a>

                    </li>

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Top Bar End -->
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-right">
                <img src="~/AdminTheme/assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@currentAccout.Fullname <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
                    </ul>
                </div>

                <p class="text-muted m-0">@currentAccout.Role</p>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a asp-page="/Index" class="waves-effect active"><i class="md md-home"></i><span> داشبورد </span></a>
                </li>
                <li>
                    <a asp-page="/Comment/CommentAgg/Index" class="waves-effect"><i class="md md-textsms"></i><span> کامنت ها </span></a>
                </li>
                @if (AuthHelper.CurrentAccountRole() == Roles.Administrator)
                {

                    <li>
                        <a asp-page="/Inventory/InventoryAgg/Index" class="waves-effect"><i class="md md-event-note"></i><span> انبارداری </span></a>
                    </li>
                    <li>
                        <a asp-page="/Shop/OrderAgg/Index" class="waves-effect"><i class="md md-local-mall"></i><span> سفارشات </span></a>
                    </li>
                    <li class="has_sub">
                        <a class="waves-effect"><i class="md md-store-mall-directory"></i><span> فروشگاه </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a asp-page="/Shop/SliderAgg/Index">اسلایدر</a></li>
                            <li><a asp-page="/Shop/ProductCategoriesAgg/Index">گروه محصولات</a></li>
                            <li><a asp-page="/Shop/ProductAgg/Product/Index">محصولات</a></li>
                            <li><a asp-page="/Shop/ProductAgg/ProductPictures/Index">عکس محصولات</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a class="waves-effect"><i class="md md-control-point-duplicate"></i><span> سیستم تخفیفات </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a asp-page="/Discounts/CustomerDiscountAgg/Index">تخفیف مشتری</a></li>
                            <li><a asp-page="/Discounts/ColleagueDiscountAgg/Index">تخفیف همکاری</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a class="waves-effect"><i class="md md-people"></i><span> سیستم کاربران </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a asp-page="/Account/AccountAgg/Index">کاربران</a></li>
                            <li><a asp-page="/Account/RoleAgg/Index">نقش ها</a></li>
                        </ul>
                    </li>
                }
                <li class="has_sub">
                    <a class="waves-effect"><i class="md md-photo-library"></i><span> سیستم بلاگینگ </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-page="/Blog/ArticleAgg/Index">مقالات</a></li>
                        <li><a asp-page="/Blog/ArticleCategoryAgg/Index">گروه مقالات</a></li>
                    </ul>
                </li>

                <li>
                    <a asp-page="/Account" asp-page-handler="Logout" class="waves-effect active"><i class="fa fa-sign-out"></i><span> خروج </span></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>